<div class="container mySlides">
    <div class=" fade card">
        <div class="face face1" id="beer-face">
            <div class="beer-image">
                <img id="beer-img-url" src="https://images.punkapi.com/v2/89.png" alt="beer" />
            </div>
        </div>
        <div class="face face2" id="beer-content">
            <div class="content">
                <h3 class="beer-name">Citra</h3>
            </div>
        </div>
    </div>
    <div class="fade card">
        <div class="face face1" id="food-face">
            <div class="dish-image">
                <img src="https://spoonacular.com/recipeImages/654928-312x231.jpg" />
                <p hidden id="dish-img-url"></p>
            </div>
        </div>
        <div class="face face2" id="food-content">
            <div class="content">
                <h3 class="dish-name">Pasta With Italian Sausage</h3>
                <p hidden id="dish-id"></p>
                <p class="dish-summary"></p>
                <a id="recipe-link" href="https://spoonacular.com/recipes/pasta-with-italian-sausage-654928"
                    target="_blank" rel="noopener noreferrer">Get Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="container mySlides">
    <div class=" fade card">
        <div class="face face1" id="beer-face">
            <div class="beer-image">
                <img id="beer-img-url" src="https://images.punkapi.com/v2/69.png" alt="beer" />
            </div>
        </div>
        <div class="face face2" id="beer-content">
            <div class="content">
                <h3 class="beer-name">AB:16</h3>
            </div>
        </div>
    </div>
    <div class="fade card">
        <div class="face face1" id="food-face">
            <div class="dish-image">
                <img src="https://spoonacular.com/recipeImages/660406-312x231.jpg" />
                <p hidden id="dish-img-url"></p>
            </div>
        </div>
        <div class="face face2" id="food-content">
            <div class="content">
                <h3 class="dish-name">Smoky Chicken Tacos</h3>
                <p hidden id="dish-id"></p>
                <p class="dish-summary"></p>
                <a id="recipe-link" href="https://spoonacular.com/recipes/smoky-chicken-tacos-660406"
                    target="_blank" rel="noopener noreferrer">Get Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="container mySlides">
    <div class=" fade card">
        <div class="face face1" id="beer-face">
            <div class="beer-image">
                <img id="beer-img-url" src="../../public/assets/BeerIcon.png" alt="beer" />
            </div>
        </div>
        <div class="face face2" id="beer-content">
            <div class="content">
                <h3 class="beer-name">Grano Giusto</h3>
            </div>
        </div>
    </div>
    <div class="fade card">
        <div class="face face1" id="food-face">
            <div class="dish-image">
                <img src="https://spoonacular.com/recipeImages/652635-312x231.jpg" />
                <p hidden id="dish-img-url"></p>
            </div>
        </div>
        <div class="face face2" id="food-content">
            <div class="content">
                <h3 class="dish-name">Mushroom and Vegetable Tacos</h3>
                <p hidden id="dish-id"></p>
                <p class="dish-summary"></p>
                <a id="recipe-link" href="https://spoonacular.com/recipes/mushroom-and-vegetable-tacos-652635"
                    target="_blank" rel="noopener noreferrer">Get Recipe</a>
            </div>
        </div>
    </div>
</div>
<br>
<div id="dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
 </div>