{{!-- This is our main template page where 
we keep the things we want to show on every page --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
    <title>Beer 'n' Bites</title>
</head>


{{!-- Header  --}}
    <header>
        <h1 class="logo">Beer<span> 'n' </span>Bites</h2>
            <nav>
                <ul>
                    <li><a href="#aboutUs"> About</a></li>
                    <li><a href="#contactUs">Contact Us</a></li>
                    <li><a href="#login">Log in</a></li>
                </ul>
            </nav>
    </header>

{{{body}}}


{{!-- Footer --}}
<footer class="footer">
    <div>
        <h4>Thanks for visiting!</h4> 
    </div>
    
</footer>
<body>