{{! This is our main html template that we put the items we want to show on every page. ie. header,footer,hero. }}
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <script src="https://kit.fontawesome.com/98a738832b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >

    <link
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300"
      rel="stylesheet"
    />
    <title>Beer 'n' Bites</title>
  </head>
{{!-- Loading popup for funnies --}}
  {{!-- <div class="loader-container">
    <div class="funny"></div>
</div> --}}
  <body>
    <header>
      <a href="/" class="logoImg"><img
          src="/assets/BeerNBites-Logo.png"
          width="100%"
          alt="BeerNBites-Logo"
        /></a>
      <nav>
        <ul>
          <li><a href="/aboutUs" class="navLink"> About</a></li>
          <li><a href="/contactUs" class="navLink">Contact Us</a></li>
          {{#if loggedIn}}
          <li><a id="logout" class="navLink">Logout</a></li>
          {{else}}
          <li><a href="#" class="navLink login-btn">Log in</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{! This is where the handlebars will be injected }}
    <main>
    {{{body}}}
    </main>

    {{! Footer }}
    <footer>
      <div class="footer-flex">
        <a class="footerLogo" href="/views/home"><img
            src="/assets/BeerNBites-Logo.png"
            width="100%"
            alt="BeerNBites-Logo"
          /></a>
        <h4>2023 Beer ‘n’ Bites Full Stack Student Project </h4>
      </div>
      <div class="footer-flex">
        <ul>
          <li><a href="/aboutUs" class="footerLink"> About</a></li>
          <li><a href="/contactUs" class="footerLink">Contact Us</a></li>
          {{#if loggedIn}}
          <li><a id="logout" class="footerLink">Logout</a></li>
          {{else}}
          <li><a href="#" class="footerLink login-btn">Log in</a></li>
          {{/if}}
        </ul>
      </div>
    </footer>
    {{!-- login  --}}
    <section class="loginOverlay">
        <div class="loginBox">
            <a id="login-close"><img src="/assets/close-x.png" alt="exit" width="100%"></a>
            <div class="loginTxt">LOGIN</div>
            <form class="login-form">
            <input id="email-login" placeholder="Email"></input>
            <input id="password-login" placeholder="Password" type="password"></input>
            <h3 class="text-login" id="signup-modal"><a href="#signup-modal">Create Account</a></h3>
            <button type="submit" id="signinBtn">
                <h2>Login</h2>
            </button>
            </form>
        </div>
    </section> 
    {{!-- create account --}}
    <section class="signup-Overlay" id="signup-modal">
        <div class="signup-Box">
            <a id="signup-close"><img src="/assets/close-x.png" alt="exit" width="100%"></a>
            <div class="signup-Txt">Create Account</div>
            <form class="signup-form">
            <input placeholder="Username" id="username-signup"></input>
            <input placeholder="Email" id="email-signup"></input>
            <input placeholder="Password" id="password-signup" type="password"></input>
            <button type="submit" class="signup-btn" id="signupBtn">
                <h2>SIGNUP</h2>
            </button>
            </form>
        </div>
    </section>
  </body>
  <script
    defer
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  ><{{!}}/script>
  
  <script defer src="/js/index.js"><{{!}}/script>
  <script defer src="/js/login.js"><{{!}}/script>
  <script defer src="/js/logout.js"><{{!}}/script>
  <script defer src="/js/add-post.js"><{{!}}/script>
  <script defer src="/js/carousel.js"><{{!}}/script>
</html>