<section class="hero-content hero-content-dark">
  <div id="about-hero">
    <div class="page-name">About Us</div>
    <h3 class="page-tagline">FULL STACK WEB DEV STUDENTS</h3>
    <p id="about-description">As beer enthusiasts, we believe that sharing a
      cold one with friends is one of life's simplest pleasures. Our vision was
      to create an app that celebrates the joy of beer and food that brings
      people together to share the experience. Cheers to the good times and
      great beer!</p>
  </div>
</section>
<section class="connect-container">
  <div class="connect-intro">
    <h2>Let's Connect!</h2>
    <p>MEET OUR TEAM</p>
  </div>
  <div class="connect-card-container">
    <div class="connect-card">
      <div class="card-name">Sahen Garcia</div>
      <div class="card-role">PROJECT MANAGER</div>
      <div class="card-separator"></div>
      <div class="card-title">FULL STACK WEB DEV</div>
      <div class="card-links">
        <a href="https://github.com/imjustSahen" target="_blank"><img
            src="/assets/icon-git.svg"
            width="100%"
            alt=""
          /></a>
        <a
          href="https://www.linkedin.com/in/sahen-garcia-180625120"
          target="_blank"
        ><img src="/assets/icon-in.svg" width="100%" alt="" /></a>
        <a href="mailto: imjustsahen@gmail.com" target="_blank"><img
            src="/assets/icon-mail.svg"
            width="100%"
            alt=""
          /></a>
      </div>
    </div>
    <div class="connect-card">
      <div class="card-name">Wyatt Domanski</div>
      <div class="card-role">Front/Back-end Development</div>
      <div class="card-separator"></div>
      <div class="card-title">FULL STACK WEB DEV</div>
      <div class="card-links">
        <a href="https://github.com/wyamet" target="_blank"><img
            src="/assets/icon-git.svg"
            width="100%"
            alt=""
          /></a>
        <a
          href="https://www.linkedin.com/in/Wyatt-domanski/"
          target="_blank"
        ><img src="/assets/icon-in.svg" width="100%" alt="" /></a>
        <a href="mailto: Wyattdomanski.md@gmail.com" target="_blank"><img
            src="/assets/icon-mail.svg"
            width="100%"
            alt=""
          /></a>
      </div>
    </div>
    <div class="connect-card">
      <div class="card-name">Matthew Delgado</div>
      <div class="card-role">Front/Back-end Development</div>
      <div class="card-separator"></div>
      <div class="card-title">FULL STACK WEB DEV</div>
      <div class="card-links">
        <a href="https://github.com/DelgaMatt" target="_blank"><img
            src="/assets/icon-git.svg"
            width="100%"
            alt=""
          /></a>
        <a
          href="https://www.linkedin.com/in/matthew-delgado-91499a259/"
          target="_blank"
        ><img src="/assets/icon-in.svg" width="100%" alt="" /></a>
        <a href="mailto: matthewrdelgado@gmail.com" target="_blank"><img
            src="/assets/icon-mail.svg"
            width="100%"
            alt=""
          /></a>
      </div>
    </div>
    <div class="connect-card">
      <div class="card-name">Jennifer Scherschligt</div>
      <div class="card-role">Front/Back-end Development</div>
      <div class="card-separator"></div>
      <div class="card-title">FULL STACK WEB DEV</div>
      <div class="card-links">
        <a href="https://github.com/pherpat" target="_blank"><img
            src="/assets/icon-git.svg"
            width="100%"
            alt="github"
          /></a>
        <a
          href="https://www.linkedin.com/in/jennifer-scherschligt-797490242/"
          target="_blank"
        ><img src="/assets/icon-in.svg" width="100%" alt="linkedin" /></a>
        <a href="mailto: patinopher@gmail.com"><img
            src="/assets/icon-mail.svg"
            width="100%"
            alt="mailto"
          /></a>
      </div>
    </div>
  </div>
</section>