

    <section class="heroPic heroPicDarker">
        <div id="aboutUs">
        <div class="aboutSmllMsg">About Us</div>
        <h3 class="msgAu">FULL STACK WEB DEV STUDENTS</h3>
        <div class="aboutUsTxt">
            <p>As beer enthusiasts, we believe that sharing a cold one with friends is one of life's simplest pleasures. Our vision was to create an app that celebrates the joy of beer and food that brings people together to share the experience. Cheers to the good times and great beer!</p>
        
        </div>
        
       </section>