<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <header>
        <a href="index.html" class="logoImg"><img src="../public/assets/BeerNBites-Logo.png" width="100%"
                alt="BeerNBites-Logo"></a>
        <nav>
            <ul>
                <li><a href="aboutUs.html" class="navLink"> About</a></li>
                <li><a href="contactUs.html" class="navLink">Contact Us</a></li>
                <li><a href="#login" class="navLink">Log in</a></li>
            </ul>
        </nav>
    </header>
    <section class="heroPic heroPicDarker">
        <div id="aboutUs">
            <div class="aboutSmllMsg">About Us</div>
            <h3 class="msgAu">FULL STACK WEB DEV STUDENTS</h3>
            <div class="aboutUsTxt">
                <p>As beer enthusiasts, we believe that sharing a cold one with friends is one of life's simplest
                    pleasures. Our vision was to create an app that celebrates the joy of beer and food that brings
                    people together to share the experience. Cheers to the good times and great beer!</p>
            </div>
    </section>
    <section class="connect">
        <div class="connectTxt">
            <h2>Let's Connect!</h2>
            <p>MEET OUR TEAM</p>
        </div>
        <div class="connectCards">
            <div class="infoCard">
                <div class="infoCardName">Sahen Garcia</div>
                <div class="infoCardRole">PROJECT MANAGER</div>
                <div class="infoCardSeparator"></div>
                <div class="infoCardTitle">FULL STACK WEB DEV</div>
                <div class="infoCardLinkBox">
                    <a href="https://github.com/imjustSahen" target="_blank"><img src="../public/assets/icon-git.svg"
                            width="100%" alt=""></a>
                    <a href="https://www.linkedin.com/in/sahen-garcia-180625120" target="_blank"><img
                            src="../public/assets/icon-in.svg" width="100%" alt=""></a>
                    <a href="mailto: imjustsahen@gmail.com" target="_blank"><img src="../public/assets/icon-mail.svg"
                            width="100%" alt=""></a>

                </div>
            </div>
            <div class="infoCard">
                <div class="infoCardName">Wyatt Domanski</div>
                <div class="infoCardRole">Front/Back-end Development</div>
                <div class="infoCardSeparator"></div>
                <div class="infoCardTitle">FULL STACK WEB DEV</div>
                <div class="infoCardLinkBox">
                    <a href="https://github.com/wyamet" target="_blank"><img src="../public/assets/icon-git.svg"
                            width="100%" alt=""></a>
                    <a href="https://www.linkedin.com/in/Wyatt-domanski/" target="_blank"><img src="../public/assets/icon-in.svg" width="100%" alt=""></a>
                    <a href="mailto: Wyattdomanski.md@gmail.com" target="_blank"><img src="../public/assets/icon-mail.svg" width="100%" alt=""></a>

                </div>
            </div>
            <div class="infoCard">
                <div class="infoCardName">Matthew Delgado</div>
                <div class="infoCardRole">Front/Back-end Development</div>
                <div class="infoCardSeparator"></div>
                <div class="infoCardTitle">FULL STACK WEB DEV</div>
                <div class="infoCardLinkBox">
                    <a href="https://github.com/DelgaMatt" target="_blank"><img src="../public/assets/icon-git.svg"
                            width="100%" alt=""></a>
                    <a href="https://www.linkedin.com/in/matthew-delgado-91499a259/" target="_blank"><img
                            src="../public/assets/icon-in.svg" width="100%" alt=""></a>
                    <a href="mailto: matthewrdelgado@gmail.com" target="_blank"><img
                            src="../public/assets/icon-mail.svg" width="100%" alt=""></a>

                </div>
            </div>
            <div class="infoCard">
                <div class="infoCardName">Jennifer Scherschligt</div>
                <div class="infoCardRole">PROJECT MANAGER</div>
                <div class="infoCardSeparator"></div>
                <div class="infoCardTitle">FULL STACK WEB DEV</div>
                <div class="infoCardLinkBox">
                    <a href="https://github.com/pherpat" target="_blank"><img src="../public/assets/icon-git.svg"
                            width="100%" alt=""></a>
                    <a href="https://www.linkedin.com/in/jennifer-scherschligt-797490242/" target="_blank"><img
                            src="../public/assets/icon-in.svg" width="100%" alt=""></a>
                    <a href="mailto: patinopher@gmail.com"><img src="../public/assets/icon-mail.svg" width="100%"
                            alt=""></a>

                </div>
            </div>
        </div>


    </section>

    <footer>
        <div>
            <a class="footerLogo" href="index.html"><img src="../public/assets/BeerNBites-Logo.png" width="100%"
                    alt="BeerNBites-Logo"></a>
            <h4>2023 Beer ‘n’ Bites Full Stack Student Project </h4>
        </div>
        <div>
            <ul>
                <li><a href="aboutUs.html" class="footerLink"> About</a></li>
                <li><a href="contactUs.html" class="footerLink">Contact Us</a></li>
                <li><a href="#login" class="footerLink" id="login">Log in</a></li>
            </ul>
        </div>
    </footer>
</body>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script defer src="../public/js/index.js"></script>
</html>