<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/public/css/test.css">
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/> -->
    <title>Document</title>
</head>

<body>
    <div class="slideshow-container ">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides card fade">
            <div class="face face1" id="beer-face">
                <div class="content beer-image">
                    <img id="beer-img-url" src="{{beer_img}}" alt="beer" />
                </div>
            </div>
            <div class="face face2" id="beer-content">
                <div class="content">
                    <h3 class="beer-name">{{beer_name}}</h3>
                </div>
            </div>
        </div>
        <div class="mySlides card fade">
            <div class="face face1" id="food-face">
              <div class="content dish-image">
                <img src="{{dish_img}}" />
                <p hidden id="dish-img-url"></p>
              </div>
            </div>
            <div class="face face2" id="food-content">
              <div class="content">
                <h3 class="dish-name">{{dish_name}}</h3>
                <p hidden id="dish-id"></p>
                <p class="dish-summary"></p>
                <a
                  id="recipe-link"
                  href="{{dish_link}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >Get Recipe</a>
              </div>
            </div>
          </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</body>
<script src="/public/js/carousel.js"></script>

</html>