<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
    <title>Contact Us</title>
</head>

<body>
    <header>
        <a href="index.html" class="logoImg"><img src="../public/assets/BeerNBites-Logo.png" width="100%"
                alt="BeerNBites-Logo"></a>
        <nav>
            <ul>
                <li><a href="aboutUs.html" class="navLink"> About</a></li>
                <li><a href="contactUs.html" class="navLink">Contact Us</a></li>
                <li><a href="#login" class="navLink">Log in</a></li>
            </ul>
        </nav>
    </header>
    <!-- Hero Pic Section - Contact us  -->
    <section class="heroPic heroPicDarker">
        <div id="contactUs">
            <div class="cntc">Contact Us</div>
            <h3 class="msgCU">DROP US A LINE!</h3>
            <div class="InputBox">
                <input class="contInput" placeholder="Name"></input><br>
                <input class="contInput" placeholder="Email"></input><br>
                <textarea class="contInput msg" placeholder="Message"></textarea><br>
                <button>Submit</button>
            </div>
        </div>
    </section>

<!-- Footer links and logo -->
<footer>
    <div>
        <a class="footerLogo" href="index.html"><img src="../public/assets/BeerNBites-Logo.png" width="100%"
                alt="BeerNBites-Logo"></a>
        <h4>2023 Beer ‘n’ Bites Full Stack Student Project </h4>
    </div>
    <div>
        <ul>
            <li><a href="aboutUs.html" class="footerLink"> About</a></li>
            <li><a href="contactUs.html" class="footerLink">Contact Us</a></li>
            <li><a href="#login" class="footerLink" id="login">Log in</a></li>
        </ul>
    </div>
</footer>
</body>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script defer src="../public/js/index.js"></script>
</html>