<!-- Hero Pic Section - Contact us  -->
<section class="hero-content hero-content-dark">
  <div id="contact-hero">
    <div class="page-name">Contact Us</div>
    <h3 class="page-tagline">DROP US A LINE!</h3>
    <form class="contact-form">
      <input class="contact-input" placeholder="Name" /><br />
      <input class="contact-input" placeholder="Email" /><br />
      <textarea
        class="contact-input"
        id="input-filler"
        placeholder="Message"
      ></textarea><br />
      <button id="contact-btn">Submit</button>
    </form>
  </div>
</section>