    <!-- Hero Pic Section - Contact us  -->
    <section class="heroPic heroPicDarker">
        <div id="contactUs">
            <div class="cntc">Contact Us</div>
            <h3 class="msgCU">DROP US A LINE!</h3>
            <div class="InputBox">
                <input class="contInput" placeholder="Name"></input><br>
                <input class="contInput" placeholder="Email"></input><br>
                <textarea class="contInput msg" placeholder="Message"></textarea><br>
                <button class="subBtn">Submit</button>
            </div>
        </div>
    </section>
</body>