<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body>
    <header>
        <a href="index.html" class="logoImg"><img src="../public/assets/BeerNBites-Logo.png" width="100%" alt="BeerNBites-Logo"></a>
            <nav>
                <ul>
                    <li><a href="aboutUs.html" class="navLink"> About</a></li>
                    <li><a href="contactUs.html" class="navLink">Contact Us</a></li>
                    <li><a href="#login" class="navLink">Log in</a></li>
                </ul>
            </nav>
    </header>

    <section class="heroPic heroPicDarker">
        <div id="contactUs">
        <div class="cntc">Contact Us</div>
        <h3 class="msgCU">DROP US A LINE!</h3>
        <div >
        <input class="contInput" placeholder="Name"></input><br>
        <input class="contInput" placeholder="Email"></input><br>
        <input class="contInput msg" placeholder="Message"></input><br>
        <button class="subBtn">Submit</button>
         </div>
        </div>
        
       </section>
</body>
<footer class="footer">
    <div>
        <h4>Thanks for visiting!</h4>
    </div>
</footer>
</html>