<!-- Hero Pic Section -->
    <section class="heroPic hero-content">
        <div class="heroPic-label hero-flex">
            <h3 class="smallTle hero-items" id="tagline-title">EAT, DRINK, ENJOY</h3>
            <h1 class="heroTxt hero-items" id="hero-title">Explore enticing combinations of eats and brews.</h1>
        </div>
        <button id="GenBtn" onClick="location.href='/views/pairing'">Generate your combo <img src="./assets/BeerIcon.png" width="30px" alt="beerIcon"><span> + </span><img
                    src="./assets/FoodIcon.png" width="26px" alt="foodIcon">
        </button>
    </section>
    <!-- Second block img and text -->
    <section class="cheersBlock">
        <div class="cheersTxt">
            <h2>We love beer and food.</h2>
            <p>"Great beer and delicious food - a perfect pairing for those who love to savor life's flavors!"</p>
        </div>
        <div class="cheersImg">
            <img src="./assets/cheers-pic.jpg" alt="cheers-pic" width="100%">
        </div>
    </section>
    <section class="combos">
        <div class="combosTxt">
            <h2>Random Combos Slider</h2>
            {{#each images as |image| }}
            {{> carousel-element image}}
        {{/each}}
        </div>
    </section>