<!-- Hero Pic Section -->
<section class="hero-content hero-content-darker">
    <h3 id="home-tagline">EAT, DRINK, ENJOY</h3>
    <h1 id="hero-title">Explore enticing combinations of eats and brews.</h1>
    <button id="pairing-page-btn" onClick="location.href='/pairing'">Generate your combo <img src="./assets/BeerIcon.png" width="30px" alt="beerIcon"><span> + </span><img
            src="./assets/FoodIcon.png" width="26px" alt="foodIcon">
    </button>
</section>
<section class="cheers-container">
    <div class="cheers-content">
        <h2>We love beer and food.</h2>
        <p>"Great beer and delicious food - a perfect pairing for those who love to savor life's flavors!"</p>
    </div>
    <div id="cheers-img">
        <img src="./assets/cheers-pic.jpg" alt="Friends cheersing beer at lunch" width="100%">
    </div>
</section>
<section class="cheers-block-carousel">
    {{> carousel-element}}
</section>