<section class="heroPic">
        <div class="'heroPic-label">
            <h3 class="smallTle">EAT, DRINK, ENJOY</h3><br>
            <h1 class="heroTxt">Explore enticing combinations of eats and brews.</h1>
        </div>
        <button id="gen-btn" onClick="location.href='/views/pairing'">
            <h2>Generate your combo <img src="./assets/BeerIcon.png" width="30px" alt="beerIcon"> + <img src="../public/assets/FoodIcon.png" width="26px" alt="foodIcon"></h2>
        </button>
    </section>
    <section class="cheersBlock">
        <div class="cheersTxt">
            <h2>We love beer and food.</h2>
            <p>"Great beer and delicious food - a perfect pairing for those who love to savor life's flavors!"</p>
        </div>
        <div class="cheersImg">
            <img src="./assets/cheers-pic.jpg" alt="cheers-pic" width="100%">
        </div>
    </section>
    <section class="combos">
        <div class="combosTxt">
        <h2>Random Combos</h2>
        {{#each images as |image| }}
            {{> carousel-element image}}
        {{/each}}
        </div>
    </section>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script defer src="./js/index.js"></script>

    {{!-- <section class="loginOverlay">
<div class="loginBox">
    <a id="modalClose"><img src="../public/assets/close-x.png" alt="exit" width="100%"></a>
    <div class="loginTxt">LOGIN</div>
    <input placeholder="Username"></input>
    <input placeholder="Password"></input>
     <button id="loginBtn">
        <h2>Login</h2>
    </button>
</div>
</section> --}}