<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
    <title>Beer 'n' Bites</title>
</head>
<body>
    <header>
        <a href="index.html" class="logoImg"><img src="../public/assets/BeerNBites-Logo.png" width="100%" alt="BeerNBites-Logo"></a>
            <nav>
                <ul>
                    <li><a href="aboutUs.html" class="navLink"> About</a></li>
                    <li><a href="contactUs.html" class="navLink">Contact Us</a></li>
                    <li><a href="#login" class="navLink" id="login">Log in</a></li>
                </ul>
            </nav>
    </header>

    <section class="heroPic">
        <div class="'heroPic-label">
            <h3 class="smallTle">EAT, DRINK, ENJOY</h3><br>
            <h1 class="heroTxt">Explore enticing combinations of eats and brews.</h1>
        </div>
        <button id="GenBtn" onClick="location.href='pairing.html'">
            <h2>Generate your combo <img src="../public/assets/BeerIcon.png" width="30px" alt="beerIcon"> + <img src="../public/assets/FoodIcon.png" width="26px" alt="foodIcon"></h2>
        </button>
    </section>
    <section class="cheersBlock">
        <div class="cheersTxt">
            <h2>We love beer and food.</h2>
            <p>"Great beer and delicious food - a perfect pairing for those who love to savor life's flavors!"</p>
        </div>
        <div class="cheersImg">
            <img src="../public/assets/cheers-pic.jpg" alt="cheers-pic" width="100%">
        </div>
    </section>
    <section class="combos">
        <div class="combosTxt">
        <h2>Random Combos</h2>
        </div>
    </section>

<footer class="footer">
    <div>
        <h4>Thanks for visiting!</h4> 
    </div>
    
</footer>
<section class="loginOverlay">
<div class="loginBox">
    <a id="modalClose"><img src="../public/assets/close-x.png" alt="exit" width="100%"></a>
    <div class="loginTxt">LOGIN</div>
    <input placeholder="Username"></input>
    <input placeholder="Password"></input>
     <button id="loginBtn">
        <h2>Login</h2>
    </button>
</div>
</section>

</body>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script defer src="../public/js/index.js"></script>

</html>
