



{{! <!-- CARDS --> }}
<section class="hero-content hero-content-dark">
  <div class="hero-flex">
    <div class="pairing-container">
      <div class="card">
        <div class="face face1" id="beer-face">
          <div class="content beer-image">
            <img id="beer-img-url" src="" alt="beer" />
            <p hidden id="beer-img-url"></p>
          </div>
        </div>

        <div class="face face2" id="beer-content">
          <div class="content">
            <h3 class="beer-name"></h3>
            <p hidden id="beer-id"></p>
            <p class="beer-tagline"></p>
            <p class="beer-abv"></p>
            <p class="beer-description"></p>
            <button id="get-beer-btn" type="button">Get New Beer</button>
          </div>
        </div>
      </div>
      
      <div class="card card-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="98"
          height="98"
          viewBox="0 0 98 98"
          fill="none"
        >
          <circle cx="49" cy="49" r="49" fill="#AF4636"></circle>
          <path
            d="M64.8804 49.93H50.1104V64.56H47.4504V49.93H33.1004V47.62H47.4504V33.9H50.1104V47.62H64.8804V49.93Z"
            fill="#EEE1CC"
          ></path>
        </svg>
      </div>
      
      <div class="card">
        <div class="face face1" id="food-face">
          <div class="content dish-image">
            <img src="" />
            <p hidden id="dish-img-url"></p>
          </div>
        </div>
        <div class="face face2" id="food-content">
          <div class="content">
            <h3 class="dish-name"></h3>
            <p hidden id="dish-id"></p>
            <p class="dish-summary"></p>
            <a
              id="recipe-link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
            ><button>Get Recipe</button></a>
            <button id="get-dish-btn" type="button">Get New Dish</button>
          </div>
        </div>
      </div>
    </div>
    <div class="pairing-btn-container">
      {{!-- <div class="rating">
          <span class="rating-result"></span>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
          <i class="rating-star far fa-star"></i>
      </div> --}}
      <button class="pairing-btn" id="new-pairing-btn">
        <h2>Get New Pairing</h2>
      </button>
      <button class="pairing-btn" id="save-pairing-btn" type="submit">
        <h2>Save Your Pairing</h2>
      </button>
 
    </div>
    </div>
</section>
<section class="user-pairings-container">
  <div class="user-pairings-card">
    <h2>My Saved Pairs</h2>
    {{#if loggedIn}}
      {{#each pairings}}
      {{> user-pairings}}
      {{/each}}
    {{else}}
    <div class="login-pairings-container">
      <p class="login-pairings-text">Login or Sign Up to save pairings!</p>
      <a href="#" class="login-btn"><button class="login-pairs-btn">LOGIN</button></a>
    </div>
    {{/if}}
  </div>
</section>

<section class ="funny-modal">
    <img id="funny-icon" src="./assets/1485.gif">
  <h3 id="funny-message"></h3>
   <img id="funny-icon" src="./assets/1485.gif">
 
</section>