<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300" rel="stylesheet">
    <title>Try this pair</title>
</head>
<body>
    <header>
        <a href="index.html" class="logoImg"><img src="../public/assets/BeerNBites-Logo.png" width="100%" alt="BeerNBites-Logo"></a>
            <nav>
                <ul>
                    <li><a href="aboutUs.html" class="navLink"> About</a></li>
                    <li><a href="contactUs.html" class="navLink">Contact Us</a></li>
                    <li><a href="#login" class="navLink">Log in</a></li>
                </ul>
            </nav>
    </header>

    <section class="heroPic heroPicDarker">
        <div class="pairMsg">Try this pair</div>
        <div class="pairContainer">
            <div class="contentCard">Beer</div>
            <div class="circlePlus">
                <svg xmlns="http://www.w3.org/2000/svg" width="98" height="98" viewBox="0 0 98 98"
                    fill="none">
                    <circle cx="49" cy="49" r="49" fill="#AF4636" />
                    <path d="M64.8804 49.93H50.1104V64.56H47.4504V49.93H33.1004V47.62H47.4504V33.9H50.1104V47.62H64.8804V49.93Z"
                        fill="#EEE1CC"/>
                </svg>
            </div>
            <div class="contentCard">Food</div>
        </div>
    <div class="comboBtnBox">
        <button class="gntAgain">
            <h3>Generate Again</h3>
        </button>
        <button class="save">
            <h3>Save</h3>
        </button>
    </div>
    </section>
</body>
<section class="savedPairs">
    <div class="savedTxt">
        <h2>Saved Combos</h2>
        <div class="savedContainer"></div>
    </div>
</section>
<footer>
    <div>
        <a class="footerLogo" href="index.html"><img src="../public/assets/BeerNBites-Logo.png" width="100%" alt="BeerNBites-Logo"></a> 
        <h4>2023 Beer ‘n’ Bites Full Stack Student Project </h4>
    </div>
    <div>
        <ul>
            <li><a href="aboutUs.html" class="footerLink"> About</a></li>
            <li><a href="contactUs.html" class="footerLink">Contact Us</a></li>
            <li><a href="#login" class="footerLink" id="login">Log in</a></li>
        </ul>
    </div>
</footer>
</html>