/* Page reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  ---- Global Variables ---- */
:root {
  --main-bg-color: white;
  --main-dp: block;
  --main-tx-align: left;
  --main-pad: 20px;
  --main-bg-size: cover;
  --main-fontsize: 20px;
  --main-color-beer: #ffbf43;
  --font-poppins: "Poppins", Sans-Serif;
  --font-abril: "Abril Fatface", Cursive;
  --main-dinlineB: inline-block;
  --colorBlack: black;
}

body {
  min-height: 100vh;
  background-color: #f6f6f6;
}

h1 {
  font-family: var(--font-abril);
  font-size: 42px;
  color: white;
}

h2 {
  font-family: var(--font-poppins);
  font-size: 25px;
}

h3 {
  font-family: var(--font-poppins);
  color: var(--main-color-beer);
}

button {
  border: none;
}

/* ---- Header Section ---- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 20px 20px;
  top: 0px;
  z-index: 20;
  width: 100%;
}

header nav {
  margin-right: 20px;
  font-family: var(--font-poppins);
}

nav a {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 20px;
  color: rgb(255, 0, 0);
  border-radius: 50px;
  line-height: 25px;
  padding: 20px 20px;
  transition: all ease 250ms;
}

nav a:hover {
  background-color: var(--main-color-beer);
  color: var(--colorBlack);
}

/* New Hero Class */
.hero-content {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  position: relative;
  padding: 50px 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.555)),
    url("/views/assets/Hero-bk.jpg");
  background-position: center;
  background-blend-mode: luminosity;
}

.pair-intro {
  font-family: var(--font-abril);
  text-align: center;
  font-size: 40px;
  color: #eee0cc;
  padding-top: 50px;
  padding-bottom: 20px;
}

/*  EPrevious Hero Classes */
.heroPic {
  color: white;
  font-size: 10px;
}

.heroPic {
  color: white;
  font-size: 10px;
  height: 799px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  position: relative;
  padding: 50px;
  background-image: url("/views/assets/Hero-bk.jpg");
  text-align: center;
  background-position: center center;
  padding-top: 120px;
}

.heroPicDarker {
  background-blend-mode: luminosity;
}

.heroPicDarker::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Previous Pair msg (changed to pair-intro) */
.pairMsg {
  font-family: var(--font-abril);
  margin: auto;
  font-size: 40px;
  color: #eee0cc;
  padding-bottom: 20px;
}

.smallTle {
  font-size: 38px;
  color: var(--main-color-beer);
}

.heroTxt {
  font-size: 72px;
  color: #eee0cc;
  margin: auto;
  width: 766px;
  font-weight: normal;
  line-height: 82px;
}

#GenBtn {
  display: var(--main-dp);
  background: var(--main-color-beer);
  padding: 30px;
  border-radius: 50px;
  margin: auto;
  margin-top: 70px;
}
#GenBtn img {
  display: inline;
  margin-bottom: -10px;
}
.cheersBlock {
  background: #ded1b9;
  display: flex;
  justify-content: space-around;
}

.cheersTxt {
  max-width: 360px;
  padding-top: 110px;
}

.cheersBlock h2 {
  font-family: var(--font-abril);
  font-size: 56px;
  font-weight: normal;
  line-height: 62px;
  margin-bottom: 40px;
}

.cheersBlock p {
  font-size: 18px;
  font-family: var(--font-poppins);
}

.cheersImg {
  max-width: 700px;
  padding-top: 70px;
}
.combos {
  height: 450px;
  width: 100%;
  background-color: rgb(204, 204, 204);
}

.combosTxt {
  margin: auto;
  max-width: 450px;
  padding-top: 200px;
  text-align: center;
}

/* pairing page */

.pairContainer {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  position: relative;
  padding: 10px;
}

.contentCard {
  background-color: #ffffff;
  padding: 20px;
  min-width: 400px;
  max-width: 500px;
  min-height: 400px;
  font-family: var(--font-abril);
  font-size: 35px;
  color: var(--colorBlack);
}

/* Previous circle class (now card-circle) */
.circlePlus {
  padding: 10px;
  color: #ffffff;
  border-radius: 100px;
  margin-left: -20px;
  margin-right: -20px;
  /* z-index: 20; */
}

/* ---buttons for pairing page----- */
.comboBtnBox {
  /* max-width: 900px; */
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gntAgain,
.save {
  background: #ffbf43;
  border-radius: 50px;
  margin-top: 70px;
  text-align: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.gntAgain,
.save,
h3 {
  color: var(--colorBlack);
}

.gntAgain {
  float: left;
}

.save {
  float: right;
}

/* --- Log in --- */
.loginBox a {
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.loginOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.loginBox {
  padding: 50px;
  max-width: 400px;
  background-color: #ffffff;
  max-height: 420px;
  font-family: var(--font-abril);
  font-size: 20px;
  position: relative;
}

.loginTxt {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.loginBox input {
  background-color: rgb(228, 228, 228);
  font-family: var(--font-poppins);
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  width: 300px;
  border-radius: 15px;
  padding-left: 20px;
  border: none;
  font-size: 20px;
}

#loginBtn {
  color: var(--colorBlack);
  background-color: var(--main-color-beer);
  border-radius: 50px;
  width: 150px;
  align-items: center;
  margin-top: 20px !important;
  display: block;
  margin: auto;
}

#loginBtn h2 {
  align-items: center;
}

.card-circle {
  padding: 10px;
  color: #ffffff;
  border-radius: 100px;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 10;
}

/* Card Hover Styling */
.container {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 400px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #a44e29;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.beer-image img {
  transform: rotate(55deg);
  max-width: 80px;
}

.dish-image img {
  max-width: 200px;
}

.container .card .face.face2 .content h3 {
  margin: 0;
  padding-bottom: 10px;
  color: rgb(176, 54, 10);
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 2px 0px;
}

.beer-abv {
  font-size: 0.9em;
  font-weight: 800;
  padding: 15px 0px;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

/* Footer Section */
footer {
  padding: 30px;
  text-align: center;
  font-family: var(--font-poppins);
  background-color: #2c2c2c;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #cfcc21;
  height: 4rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  box-shadow: 1px -2px 8px 2px rgba(0, 0, 0, 0.322);
}

footer h3,
footer p {
  padding: 0rem 0.25rem;
  align-self: center;
}

footer a {
  text-decoration: none;
}

/* Screen Sizing */

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
